a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.bold{
    font-weight: bold;
}

.center{
    text-align: center;
}
.bg-bbb {
    background: linear-gradient(90deg,#fbdea5,#f9c17b,#ff8181,#f467a2,#a27bcc);
}
.message-img-container {
    text-align: center;
}

.container__profile{
    width: 100%;
}
.message-img {
    max-width: 80%;
    max-height: 200px;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(253, 253, 253);
    font-size: large;
}
.navbar-dark .navbar-nav .nav-link:hover {
    background-color: #a27bcc;
    opacity: 0.3;
}
.content {
    background-color: #FFF9FB;
}
h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 129, 129);
}
.navbar-brand {
    font-size: xx-large;
}

.home-content {
    background-color: #ffffff;
}
.form {
    text-align: center;
    margin: 10px auto;
}

.post-create-form {
    text-align: center;
    display: block;
    margin-top: 20px;
}
.thread-input-tag {
    width: 75px;
    height: 30px;
    text-align: center;
}
.tag-label {
    vertical-align: top;
    font-size: 120%;
}
.thread-msg {
    margin: 20px auto;
}
.send-btn {
    margin-top: 10px;
}

.post-tag-username {
    display: flex;
    justify-content: center;
}

.post-username {
    margin-right: auto;
    font-size: 150%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(162, 123, 204);
}

.post-tag {
    margin-left: auto;
    font-size: 150%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.thread-header {
    margin: 20px 20px;
    height: auto;
}
.subscr-btn {
    margin-top: 15px;
}

.fl__wi{
    min-width: 100px ;
    max-width: 300px ;
    width: 80%;
    height: 40px;
    padding: 0;
    background: rgb(255, 129, 129);
    border: 0;
    border-radius: 50px;
    color: white;
    margin: 3% 0;
}

.make__flex {
    display: flex;
    justify-content: center
}

.raisepr__bt{
    min-width: 80px ;
    max-width: 200px ;
    width: 35%;
    height: 40px;
    padding: 0;
    background: rgb(255, 129, 129);
    border: 0;
    border-radius: 50px;
    color: white;
    margin: 3% 3%;
}

.closerq__bt{
    min-width: 80px ;
    max-width: 200px ;
    width: 20%;
    height: 40px;
    padding: 0;
    background: rgb(255, 129, 129);
    border: 0;
    border-radius: 50px;
    color: white;
    margin: 3% 3%;
}

.buttons_st{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.follow__btn{
    min-width: 100px ;
    width: 30%;
    height: 40px;
    padding: 0;
    background: rgb(255, 129, 129);
    border: 0;
    border-radius: 50px;
    color: white;
    margin: 3% 0;
}

.deleterq__bt{
    min-width: 80px ;
    width: 35%;
    height: 40px;
    padding: 0;
    background: rgb(255, 129, 129);
    border: 0;
    border-radius: 50px;
    color: white;
    margin: 3% 3%;
}

.write_req{

    font-size: 15px;
}

.write_req_lk{
    justify-content: flex-start;
    width: 85%;
    color: #747474;
    font-size: 18px;
    display: flex;
    border: rgb(255, 129, 129) 2px solid;
    border-radius: 25px;
    padding: 10px 10px;
    margin: 5px 0;
    align-items: center;
    transition: background 0.7s ease, color 0.5s ease
}

.write_req_lk:hover,
.write_req_lk:focus,
.write_req_lk:active {
    background-color: white;
    color: #747474;
}

.btn__mypr{
margin-left: 10%;
}

.submit__btn{
    min-width: 100px ;
    max-width: 140px ;
    width: 50%;
    height: 40px;
    padding: 0;
    background: rgb(255, 129, 129);
    border: 0;
    border-radius: 50px;
    color: white;
    margin: 3% 0;
}

.col-sm{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}
.user_inf{
    margin: 1% 1%;
}