.post {
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    align-items: center;
    width: calc(100% - 30px - 10px);
    box-shadow: 0px 5px 5px grey;
}

.post_pr {
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    background-color: antiquewhite;
    align-items: center;
    width: calc(100% - 30px - 10px);
    box-shadow: 0px 5px 5px grey;
}

.post__btns {
    width: 100%;
    align-items: center;
}

.counters{
    display: flex;
    justify-content: space-between;
}

.list__post{
    width: calc(70% + 13px);
    /*min-width: calc(70% + 13px);*/
    background-color: white;
    border: 13px green;
    padding: 2% 5%;

}

.login__name{
    border: 0;
    margin: 0;
}

.lg_pr{
    border: 0;
    margin: 0;
}

.lg_pr:hover,
.lg_pr:focus,
.lg_pr:active {
    background-color: antiquewhite;
    color: #747474
}

.login__name:hover,
.login__name:focus,
.login__name:active {
    background-color: white;
    color: #747474
}

.post__header{
    display: flex;
    justify-content: space-between;
    color: dodgerblue;
}

/*.post__header a{
    width: 30%;
}*/

.post__btns__take{
    background-color: rgb(255, 129, 129);;
    color: whitesmoke;
    border: 0px;
    border-radius: 10px;
    padding: 1% 2%;
}

.list__post__title{
    font-size: 30px;
    text-align: center;
    margin-top: 0px;
}